gitput.bat
cellosaurus*
desc*
*back
file_list_cv.txt
archives
missing
*DS_Store*
evoc_release_info.txt
/.idea
cv_data_releases.massive
cv_data_releases.ori
cv_datasources.massive
cv_datasources.ori
metadata.massive
